@import "../../scss/_variables.scss";

.forgot-password-screen {
  margin: 150px auto 0;
  max-width: 1440px;
  width: 60%;

  &__logo {
    text-align: center;
    border-bottom: 1px solid $border-light-gray;

    img {
      margin-bottom: $spacer * 2;
    }
  }

  &__form {
    text-align: center;
    margin: $spacer * 4 auto 0;
    width: 330px;

    &--text {
      text-align: left;
      margin-bottom: $spacer * 4;
    }

    form {
      display: flex;
      flex-direction: column;
      margin-bottom: $spacer * 5;

      input {
        margin-bottom: $spacer * 4;
      }

      .button-component {
        margin-bottom: $spacer * 3;
      }
    }
  }
}
