@import "../../../scss/_variables.scss";

.button-component {
  background-color: $button-bg-primary;
  color: $white;
  border: none;
  border-radius: $border-radius;
  padding: $spacer $spacer * 5;
  font-size: 16px;
  font-family: $font-family;
  cursor: pointer;
  transition: all 500ms;

  .ring {
    --uib-speed: 2s;

    height: 1rem;
    width: 1rem;
    vertical-align: middle;
    transform-origin: center;
    animation: rotate var(--uib-speed) linear infinite;
  }

  .ring circle {
    fill: none;
    stroke: white;
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    animation: stretch calc(var(--uib-speed) * 0.75) ease-in-out infinite;
  }

  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes stretch {
    0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 90, 200;
      stroke-dashoffset: -35px;
    }
    100% {
      stroke-dashoffset: -124px;
    }
  }
}
