@import "../../../scss/_variables.scss";

.sidebar-component {
  &__logo {
    margin: $spacer 0 $spacer * 4 $spacer * 3;
  }

  &__item {
    display: flex;
    align-items: center;
    padding-left: $spacer * 2;
    margin-right: $spacer * 4;
    margin-bottom: $spacer * 2.5;
    border-left: 4px solid transparent;
    height: 40px;
    transition: color 250ms, border 250ms;

    li {
      display: flex;
      align-items: center;
    }

    i {
      font-size: 1.2em;
      margin-right: $spacer * 1.5;
    }

    &.active-link {
      border-left: 4px solid $orange;
      transition: all 500ms;

      span {
        color: $orange;
      }
    }
  }
}
